@model IEnumerable<bagger.Models.Product>

<h2 class="text-center">Product Count</h2>

<table border="1" class="count-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Count</th>
            <th>Unit of Measure</th>
            <th>Count</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody >
    
            @foreach (var product in Model)
            {
                <tr>
                    <td class="@((product.Count < 10 ) ? "text-warning" : "text-success") @((product.Count < 5) ? "text-danger" : "")">@product.Name</td>
                    <td class="@((product.Count < 10) ? "text-warning" : "text-success") @((product.Count < 5) ? "text-danger" : "")">@product.Count</td>
                    <td class="text-center @((product.Count < 10) ? "text-warning" : "text-success") @((product.Count < 5) ? "text-danger" : "")">@product.UoM</td>
                    <td><a asp-action="Edit" asp-route-id="@product.Id">Count</a></td>
                    <td><a asp-action="Delete" asp-route-id="@product.Id">Delete</a></td>
                </tr>
            }
        
        
    </tbody>
</table>